@import url(header.css);
body {
  background-color: #FAF8D6;
}
h1{ /* Title style */
	text-align:center; 
	padding:20px;
	font-size:50;	
}
/* -----------------------*/
/* START OF THE IMAGE SLIDER  STYLE
------------------------------ */

.slider-container {
  width: 100%; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  margin: 0 auto; 
}

.slider {
  display: flex;
  width: 300%; 
  animation: slide 10s ;
}

.slider img {
  width: 33.333%;
  height: auto;
  object-fit: cover; 
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.333% {
    transform: translateX(-100%);
  }
  66.666% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
/* -----------------------*/
/* END OF THE IMAGE SLIDER  STYLE
--------------------------- */


/* -----------------------*/
/* BEGIN OF THE IMAGE FLEX BOX STYLE 
-----------------------------*/


h2{
	text-align:center; 
	color:black;
	padding:10px;
	font-size:200;
}
.cover{
	
	width:80%;
	height:200px;
	display:flex;
	margin-bottom:400px;
}
.box{
	width:480px;
	height:600px;
	margin:10px;
	box-sizing:border-box;
	box-shadow: -1px 0 10px #000000;
	padding-bottom:300px;
	margin-bottom:600px;
	align-items:center;
	justify-content:center;
	text-align:center;
	background-color:white;
}

.img{
	width:60px;
	height:60px;
	display:flex;
}

.Btn{
  margin-top: 20px;
  display: inline-block;
  padding:13px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}
/* -----------------------*/
/* END OF THE IMAGE FLEX BOX STYLE 
---------------------------------*/

/* -----------------------*/
/* START OF THE OFFERS  STYLE
--------------------------- */
h3{
	text-align:center; 
	color:black;
	padding-top:50px;
	font-size:50px;	
	font-style:italic;
}
}
.box1{
	width:600px;
	height:50px;
	box-sizing:border-box;
	
	align-items:center;
	justify-content:center;
	text-align:center;
}
.cover1{
	display:flex;
	background:url(Image/background.jpg);
	background-position:center;
	margin-top:100px;
	background-repeat:no-repeat;
	background-size:cover;
	
	height:400px;
	width:100%;
	

}

/* -----------------------*/
/* END OF THE OFFERS  STYLE
--------------------------- */

/* -----------------------*/
/* SRART OF THE FOOTER  STYLE
--------------------------- */
.footer {
  background-color: #f0f0f0;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a{
	text-decoration:none;
	margin: 20px;
}
.social-icons i {
  font-size: 24px;
  color: #333; /* Icon color */
  margin-right: 20px; /* Adjust spacing */
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
/* -----------------------*/
/* END OF THE FOOTER  STYLE
--------------------------- */